/* Light Mode */
body {
  background-color: #ffffff;
  color: #000000;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  width: 100%;
  height: 10vh;
  padding: 10px;
}

header h1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 1.5em;
  max-width: 75%;
}

header .backButton {
  background-color: #e0e0e0;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 85vh;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 10px double #000000;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 85vh;
  overflow-y: auto;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

.post-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 50vw;
  border: 1px solid #000000;
  padding: 10px;
}

.post-card h2 {
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

.post-card p {
  margin: 0;
  font-size: 1em;
  padding: 5px;
  font-weight: normal;
}



.spacer {
  border-left: 5px solid #000000;
  border-right: 5px solid #000000;
  min-width: 5px;
  height: 100%;
}

.container img {
  max-width: 100%;
  height: auto;
  display: flex;
  flex: 1 1 auto;
  margin: auto;
}

.form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* padding: 10px; */
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  min-width: 125px; /* Adjust this value based on the longest label */
  text-align: left;
  padding-left: 10px;
}

.form-row input {
  flex: 1;
  margin-right: 10px;
}


footer {
  background-color: #f1f1f1;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border-top: 5px double #000000;
  max-height: 15vh;
  width: 100%;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
}

footer h3 {
  font-size: 1.2em;
  margin: 10px;
  font-weight: bold;
  text-align: center;
}

footer p {
  margin: 10px;
  font-size: 0.8em;
}
/* Dark Mode */
body.dark-mode {
  background-color: #000000;
  color: aquamarine;
}

body.dark-mode header {
  color: aquamarine;
}

body.dark-mode header h1 {
  color: aquamarine;
}

body.dark-mode header .backButton {
  background-color: #000000;
  color: aquamarine;
  border: 1px solid aquamarine;
}

body.dark-mode header .toggleButton {
  background-color: #000000;
  border: 1px solid aquamarine;
}

body.dark-mode main {
  border-top: 10px double aquamarine;
}

body.dark-mode .spacer {
  border-left: 5px solid aquamarine;
  border-right: 5px solid aquamarine;
}

body.dark-mode .form-row label {
  color: aquamarine;
}

body.dark-mode .form-row input {
  background-color: #333333;
  color: aquamarine;
  border: 1px solid aquamarine;
}

body.dark-mode footer {
  background-color: #000;
  color: aquamarine;
  border-top: 5px double aquamarine;
}

body.dark-mode footer h1 {
  color: aquamarine;
}

body.dark-mode footer p {
  color: aquamarine;
}
